.food Link{
    cursor: pointer;
}
 span {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  span:before {
    content: '';
    background: #00aa4d;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  span:hover {
   background-position: 0;
  }
  
  span:hover::before {
    width:100%;
  }